{% extends "encyclopedia/layout.html" %}

{% block title %}
Edit Page
{% endblock %}

{% block body %}

<h1>{{ title }}</h1>

<div>
    <form method="POST" action="{% url 'save_edit' %}">
        {% csrf_token %}
        <div>
            <div>
                <div>
                    <label>Title:</label>
                    <input type="text" name="title" value="{{ title }}">
                    <br />
                </div>
                <label>Page Content:</label>
                <br />
                <textarea name="content" placeholder="Enter Your content">{{ content }}</textarea>
                <div>
                    <input type="submit" value="save" class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}